<h6>Administrator's Dashboard</h6>
<h4>Welcome <span class="grey darken-3 yellow-text text-accent-2">Admin</span> {{name}}</h3>
<p>Here are all pending jobs</p>
{{#if jobs}}
<table class="striped responsive-table" id="ad-table-1">
  <thead>
    <tr>
      <th>Title</th>
      <th>Created At</th>
      <th>Status</th>
      <th>Posted By</th>
      <th class="center-align">Publish / Deny</th>
      <th class="center-align">Edit / Delete</th>
    </tr>
  </thead>
  <tbody>
    {{#each jobs}}
    <tr>
      <td><a href="/jobs/{{id}}">{{title}}</a></td>
      <td>{{formatDate createdAt "Do MMMM YYYY, hh:mm:ss a"}}</td>
      <td><span class="dash-status">{{status}}</span></td>
      <td>{{user.dataValues.displayName}}</td>
      <td class="center-align">
        <form action="/access/granted/{{id}}?_method=PUT" method="POST" class="access-form">
          <button type="submit" class="btn green tooltipped" data-position="top" data-tooltip="Publish this job">
            <i class="far fa-check-circle"></i>
          </button>
        </form>

        <form action="/access/denied/{{id}}?_method=PUT" method="POST" class="access-form">
          <button type="submit" class="btn orange tooltipped" data-position="top" data-tooltip="Deny this job">
            <i class="far fa-times-circle"></i>
          </button>
        </form>
      </td>
      <td class="center-align">
        <a href="/jobs/edit/{{id}}" class="btn blue tooltipped" data-position="top" data-tooltip="Edit this job">
          <i class="fas fa-pen-square"></i>
        </a>

        <form action="/jobs/{{id}}?_method=DELETE" method="POST" class="access-form">
          <button type="submit" class="btn red tooltipped" data-position="top" data-tooltip="Delete this job">
            <i class="fas fa-trash"></i>
          </button>
        </form>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>
{{else}}
<p>There are no pending jobs</p>
{{/if}}
<br>
<hr>
<p>Here are all users</p>
{{#if users}}
<table class="striped responsive-table" id="ad-table-2">
  <thead>
    <tr>
      <th>User's Name</th>
      <th>Joined On</th>
      <th class="center-align">Current Role</th>
      <th class="center-align">Assign New Role</th>
    </tr>
  </thead>
  <tbody>
    {{#each users}}
    <tr>
      <td>{{displayName}}</td>
      <td>{{formatDate createdAt "Do MMMM YYYY"}}</td>
      <td class="center-align"><span class="dash-status">{{role}}</span></td>
      <td class="center-align">
        <form action="/access/role/{{id}}?_method=PUT" method="POST">
          <select class="browser-default" id="role" name="role">
            {{#select role}}
            <option value="User">User</option>
            <option value="Moderator">Moderator</option>
            {{/select}}
          </select>
          <button type="submit" class="btn cyan tooltipped" data-position="right" data-tooltip="Save role">
            <i class="fas fa-save"></i>
          </button>
        </form>
      </td>
    {{/each}}
  </tbody>
</table>
{{else}}
<p>There are no users</p>
{{/if}}