<h6>Moderator's Dashboard</h6>
<h4>Welcome Moderator {{name}}</h3>
<p>Here are the pending jobs</p>
{{#if jobs}}
<table class="striped responsive-table" id="mod-table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Created At</th>
      <th>Status</th>
      <th>Posted By</th>
      <th class="center-align">Publish / Deny</th>
    </tr>
  </thead>
  <tbody>
    {{#each jobs}}
    <tr>
      <td><a href="/jobs/{{id}}">{{title}}</a></td>
      <td>{{formatDate createdAt "Do MMMM YYYY, hh:mm:ss a"}}</td>
      <td><span class="dash-status">{{status}}</span></td>
      <td>{{user.dataValues.displayName}}</td>
      <td class="center-align">
        <form action="/access/granted/{{id}}?_method=PUT" method="POST" id="access-form">
          <button type="submit" class="btn green tooltipped" data-position="top" data-tooltip="Publish this job">
            <i class="far fa-check-circle"></i>
          </button>
        </form>

        <form action="/access/denied/{{id}}?_method=PUT" method="POST" id="access-form">
          <button type="submit" class="btn red tooltipped" data-position="top" data-tooltip="Deny this job">
            <i class="far fa-times-circle"></i>
          </button>
        </form>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>
{{else}}
<p>There are no pending jobs</p>
{{/if}}