<h2 class="center-align">A Place To Post Your <span class="deep-orange-text text-accent-3">One-Time</span> Jobs</h2>
<div class="row">
  {{#each jobs}}
  <div class="col s12 m6 xl4">
    <div class="card">
      <div class="card-image">
        {{{editIcon ../req user ../user id}}}
      </div>
      <div class="card-content center-align">
        <h5>{{title}}</h5>
        <p>{{stripTags (truncate description 150)}}</p>
        <br>
        <div class="chip blue-grey darken-2">
          <img src="{{user.dataValues.image}}">
          <a class="lime-text text-accent-3" href="/jobs/user/{{user.dataValues.id}}">{{user.dataValues.displayName}}</a>
        </div>
      </div>
      <div class="card-action center-align">
        <a href="/jobs/{{id}}" class="btn pink darken-3">Read More</a>
      </div>
    </div>
  </div>
  {{else}}
  <p>No jobs to display</p>
  {{/each}}
</div>