<h1>Available Jobs</h1>
<div class="row">
  {{#each jobs}}
  <div class="col s12 m4">
    <div class="card">
      <div class="card-image">
        {{!-- {{{editIcon user ../user id}}} --}}
      </div>
      <div class="card-content center-align">
        <h5>{{title}}</h5>
        <p>{{stripTags (truncate description 150)}}</p>
        <br>
        <div class="chip">
          <img src="{{user.dataValues.image}}">
          <a href="/jobs/user/{{user.dataValues.id}}">{{user.dataValues.displayName}}</a>
        </div>
      </div>
      <div class="card-action center-align">
        <a href="/jobs/{{id}}" class="btn grey">Read More</a>
      </div>
    </div>
  </div>
  {{else}}
  <p>No jobs to display</p>
  {{/each}}
</div>