<div class="row">
  <div class="col s12 m8">
    <h3>{{job.title}}
      <small>{{{editIcon job.user user job.id false}}}</small>
    </h3>
    <div class="card job">
      <div class="card-content">
        <span class="card-title">{{formatDate job.createdAt "Do MMMM YYYY, hh:mm:ss a"}}</span>
        {{{job.description}}}
        <p>Reward: {{job.reward}}</p>
        <p>Location: {{job.location}}</p>
        <p>Contact Email: {{job.contact_email}}</p>
        <p>Contact Phone: {{job.contact_phone}}</p>
      </div>
    </div>
  </div>
  <div class="col s12 m4">
    <div class="card center-align">
      <div class="card-content">
        <span class="card-title">{{job.user.dataValues.displayName}}</span>
        <img src="{{job.user.dataValues.image}}" class="circle responsive-img">
      </div>
      <div class="card-action">
        <a id="user-link" href="/jobs/user/{{job.userId}}">More From {{job.user.dataValues.firstName}}</a>
      </div>
    </div>
  </div>
</div>